# === FRONTEND ===
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# === BACKEND ===
/backend/venv/
/backend/.env
/backend/__pycache__/
/backend/.pytest_cache/

# === COMMON ===
node_modules/
dist/
.env
.DS_Store
.vscode/
.idea/
*.log
/ProductImporter
ProductImporter
/Generator
Generator