@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: #eee;
}

<<<<<<< HEAD
=======

>>>>>>> 4eaa1782 (Auto update)
body.site-bg {
  background: url('/img/fon.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(219, 210, 210, 0.6);
  background-blend-mode: darken;
}

<<<<<<< HEAD
body.admin-bg {
  background: #f3f4f6 !important;   
=======

body.admin-bg {
  background: #f3f4f6 !important; 
>>>>>>> 4eaa1782 (Auto update)
  background-image: none !important;
  color: #222;
}
